*{
  margin: 0;
  padding: 0
}
.content{
  border: 2px solid black;
  display: inline-block;
}
.right img{
  display: block;
}
.left{
  float: left;
}
.right{
float: right;
}
.middle{
  margin-left: 100px;
  width: 1200px;
}
